.generic-button {
  font-size: 1rem;
  font-weight: 400;
  height: 50px;
  width: 130px;
  padding: 0%;
  margin: 20px;
  border-radius: 0;
  transition: 0.15s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
}

.primary-button {
  color: #e8e9eb;
  background-color: #303036;
}
.primary-button:hover {
  background-color: #587572;
}

.secondary-button {
  color: #303036;
  background-color: #e8e9eb;
  border: solid 2px #303036;
}
.secondary-button:hover {
  border: solid 2px #587572;
}

.bright-button {
  color: #303036;
  background-color: #ef6f6c;
}
.bright-button:hover {
  color: #e8e9eb;
  background-color: #303036;
}

.disabled-button {
  color: #303036;
  background-color: #587572;
  cursor: default;
}
