:root {
  --light: #e8e9eb;
  --dark: #303036;
  --bright: #ef6f6c;
  --highlight: #587572;
  --secondary: #8db8a5;
  --premium: #f0c808;
  --text: #16161a;

  --body: 1rem;

  background-color: var(--light);
}

body {
  margin: 0;
}

* {
  font-family: "Inter", sans-serif;
}

.default-button {
  background-color: var(--dark);
  font-size: var(--body);
  color: var(--light);
  padding: 1rem;
  min-width: fit-content;
  border: none;
  box-shadow: 2px 4px 4px hsl(0, 0%, 75%);
  transition: background-color 0.15s ease-in-out;
}

.large {
  padding: 1.5rem 2rem;
}

.small {
  padding: 0.5rem;
}

.default-button.bright {
  background-color: var(--bright);
  color: var(--text);
  transition: background-color 0.15s ease-in-out;
}

.default-button.secondary {
  background-color: transparent;
  color: var(--text);
  box-shadow: inset 0 0 0 3px var(--dark);
  transition: background-color 0.15s ease-in-out;
}

.default-button.secondary:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 3px var(--highlight);
}

.default-button.disabled {
  background-color: var(--dark);
  color: var(--highlight);
}

.default-button.disabled:hover {
  background-color: var(--dark);
  color: var(--highlight);
  cursor: not-allowed;
}

.default-button.bright:hover {
  background-color: var(--dark);
  color: var(--light);
}

.default-button:hover {
  background-color: var(--highlight);
  cursor: pointer;
}

.container {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--light);
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  bottom: 0;
  border: 1px solid var(--dark);
}

.container input:checked ~ .checkmark {
  background-color: var(--light);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid var(--highlight);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tag {
  padding: 0.2rem 0.3rem;
  max-width: fit-content;
  border: none;
  font-size: var(--body);
  cursor: pointer;
  background-color: var(--light);
  position: relative;
  box-sizing: border-box;
}

.tag::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--bright);
  transform: scaleY(0);
}

.tag:hover::before,
.tag.checked::before {
  transform: scaleY(1);
}

.count {
  background-color: #ef6f6c;
  border-radius: 25px;
  padding: 0.1rem 0.4rem;
  margin-left: 0.3rem;
  color: var(--text);
}

.hyperlink {
  color: var(--text);
  text-decoration: none;
  padding: 0.15rem 0.3rem;
  position: relative; /* Needed for positioning the ::after pseudo-element */
}

.hyperlink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--bright);
  transform: scaleX(0);
}

.hyperlink:hover::after {
  transform: scaleX(1);
}


.textInput {
  max-width: fit-content;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin: 0.25rem;
}

.toggle-label {
  margin-right: 10px;
  font-size: var(--body);
}

.toggle-switch {
  width: 2.25rem;
  height: 1.25rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 5px 4px;
  margin-right: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--dark);
  transition: background-color 0.15s ease;
}

.toggle-switch.off {
  background-color: #e8e9eb;
}

.toggle-switch.on {
  background-color: #8db8a5;
}

.toggle-slider {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #303036;
  transition: transform 0.3s ease;
}

.toggle-switch.on .toggle-slider {
  transform: translateX(0.75rem);
}

.toggle-switch.off .toggle-slider {
  transform: translateX(0);
}

@media (max-width: 700px) {
  :root {
    --body: 0.875rem;
    font-size: var(--body);
  }
}

.search-bar {
  position: relative;
  height: 1.25rem;
  width: 300px;
}

.search-bar input {
  position: absolute;
  left: 2rem;
  width: calc(300px - 2rem);
  border: none;
  font-size: 1rem;
  color: var(--text);
  outline: none;
  background-color: var(--body);
}

.search-bar input::placeholder {
  color: var(--text);
}

.search-bar img {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25rem;
  height: 1.25rem;
}

.search-bar:hover .search-bottom-line,
.search-bar input:focus ~ .search-bottom-line,
.search-bar input:not(:placeholder-shown) ~ .search-bottom-line {
  position: absolute;
  top: 20px;
  left: 2rem;
  height: 2px;
  width: calc(100% - 2rem);
  background-color: var(--bright);
}

.flip-vertically {
  transform: rotate(180deg);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown img {
  position: absolute;
  top: calc(50% - 0.3rem);
  right: 0.625rem;
  height: 0.6rem;
}

.dropdown-header {
  padding: 0.625rem;
  padding-right: 2.5rem;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-header.no-arrow {
  padding-right: 0.675rem;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  min-width: fit-content;
  max-width: 300px;
  background-color: var(--light);
  z-index: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.dropdown-list {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
}

.dropdown:hover .dropdown-bottom-line {
  position: absolute;
  top: 30px;
  left: 10px;
  height: 2px;
  width: calc(100% - 20px);
  background-color: var(--bright);
}

.dropdown-item:hover {
  background-color: var(--bright);
}

.dropdown-item a {
  color: inherit;
  text-decoration: none;
}

.dropdown-item a:hover {
  text-decoration: underline;
  text-decoration: none;
}

.course-card {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--light);
  width: 276px;
  height: 80px;
  padding: 0.75rem;
  background-color: var(--dark);
  box-shadow: 2px 4px 4px hsl(0, 0%, 75%);
  transition: 0.15s ease;
}

.course-card:hover {
  background-color: var(--highlight);
}

.course-card img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.course-info {
  height: 80px;
  margin-left: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-card-paragraph {
  font-size: 0.75rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-selector {
  height: 40px;
  background-color: var(--secondary);
  color: var(--text);
  display: inline-flex;
  align-items: center;
  padding: 0px 12px;
  gap: 8px;
  transition: 0.15s ease;
  box-shadow: 2px 4px 4px hsl(0, 0%, 75%);
  cursor: pointer;
}

.category-selector:hover {
  background-color: var(--highlight);
  color: var(--light);
}

.category-selector img {
  height: 1.3rem;
  object-fit: cover;
  transition: 0.15s ease;
}

.category-selector:hover img {
  filter: invert(100%);
}

.category-selector-selected {
  background-color: var(--bright);
  color: var(--text);
}

.category-selector-selected:hover {
  background-color: var(--dark);
  color: var(--light);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 4px 4px hsl(0, 0%, 80%);
  margin-bottom: 1rem;
  height: 3.5rem;
  padding: 0 0.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 1rem;
}