.create {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 2rem;
    background-color: var(--body);
    z-index: 2;
}

.create-form {
    display: flex;
    flex-direction: column;
}

.create button {
    width: 10rem;
}

.create-card {
    margin-top: 2rem;
}

.create-form textarea {
    width: 80%;
    height: 100px;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid var(--dark);
    resize: none;
    margin-bottom: 1rem;
}