.admin-dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 1.5rem;
    padding: 1rem 0;
  }

.dashboard {
  padding: 0 2rem;
}

.admin-dash-actions {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}

.admin-dash-actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.admin-nav-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 10rem;
  min-width: fit-content;
  height: 100%;
  border-right: 1px solid var(--dark);
  overflow-y: hidden;
}

.admin-dash-tab {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  align-items: center;
}

.admin-dash-tab:hover {
  background-color: #dedfdf;
}

.admin-nav-container .active {
  background-color: var(--highligth);
  color: var(--light);
}

.admin-dash-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  min-height: 100vh;
}

.admin-content {
  margin-left: 10rem;
  width: calc(100vw - 10rem);
}

.admin-exit-icon {
  width: 1rem;
  margin-right: 0.5rem;
}

.admin-nav-container .exit-btn {
  background-color: var(--bright);
}

.admin-nav-container .exit-btn:hover {
  background-color: #db6765;
}